
body {
    font-family: 'Montserrat', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    transition: margin-left .5s; /* Smooth transition for the main content shift */
}

     